{% extends "flasgger/swagger.html" %}

{% block head %}
    {{ super() }}
    <style>
        .custom-home-btn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 100;
            padding: 12px 24px;
            background: #FF9800;
            color: white !important;
            border-radius: 25px;
            text-decoration: none;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            transition: transform 0.3s;
        }
        .custom-home-btn:hover {
            transform: rotate(-3deg) scale(1.05);
        }
    </style>
{% endblock %}

{% block body %}
    {{ super() }}
    <a href="/" class="custom-home-btn">🏠 На главную</a>
{% endblock %}